
body {
    margin: 0;
    background-color: rgb(236, 215, 215);
}
h1 {
    color: purple;
    text-align: center;
    font-size: 3vw;
}

h2 {
    color: black;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
}

a {
    color: purple;
}

.green {
    color: green;
}

.red {
    color: red;
}

.navbar {
    background-color: rgb(138, 189, 184);
    padding: 2vw;
    border: .1vw solid green;
    word-spacing: 2em;
    font-size: 2vw;
    text-align: right;
}

.title {
    font-style: "Papyrus";
    font-size: 3vw;
    color: purple;
    text-align: left;
    word-spacing: .2vw;
    line-height: 8vw;
}

.appform {
    width: 10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    font-style: italic;
    font-size: large;
    color: purple;
    font-weight: bold;
}

.quote {
    display: inline-block;
    text-align: left;
    background-color: white;
    color: purple;
    font-size: 2vw;
    font-style: "Papyrus";
    padding: 1%;
}

#submit {
    font-size: 2vw;
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
  }