{% extends "layout.html" %}
{% block body %}
  {% if show_get == True %}
    <h1>Lookup A Stock!</h1>
    <form class="appform" method="post">
      <label for="symbol">Stock Symbol:</label><br>
      <input type="text" id="symbol" name="symbol" maxlength="255" required>
      <input type="submit" id="submit" name="submit" value="Lookup!">
    </form>
  {% else %}
    <h1 id="title">Previous 7 days:</h1><br>

    <img id="history-graph" src="../static/history.png" alt="History of Stock" width="600" height="600"><br>

    <script>
      function generateGraph(symbol, time) {
        var xml = new XMLHttpRequest();
        xml.onreadystatechange = function() {
          if (xml.status == 200) {
            var timestamp = new Date().getTime();
            var image = document.getElementById('history-graph'); 
            image.src = "../static/history.png?t=" + timestamp;
            document.getElementById("title").innerText = "Previous " + time + " days:"
          }
        }
        xml.open("POST", "/lookup?symbol=" + symbol + "&time=" + time + "d", true);
        xml.send();
      }
    </script>


    <div class="button-lookup">
      <form method="post" onclick="generateGraph('{{ symbol }}', '7')">
        <button type="button">7d</button>
      </form>
      <form method="post" onclick="generateGraph('{{ symbol }}', '14')">
        <button type="button">14d</button>
      </form>
      <form method="post" onclick="generateGraph('{{ symbol }}', '21')">
        <button type="button">21d</button>
      </form>
      <form method="post" onclick="generateGraph('{{ symbol }}', '30')">
        <button type="button">30d</button>
      </form>
    </div>

    <div class="button-lookup">
      <a href="/buy?symbol=AMC"><button type="button" id="submit">Buy</button></a>
      <a href="/sell"><button type="button" id="submit">Sell</button></a>
    </div>

  {% endif %}

{% endblock %}